@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: url("/images/bg-shade.jpg");
  background-size: contain;
  color: #333;
  padding-bottom: 70px;
}

.wrapper {
  position: relative;
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
}
